:root {
    --tamaño-cartas-x: 35px;
    --tamaño-cartas-y: 45px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#player1 {
    background-color: aqua;
    padding: 15px;
    display: flex;
}

#player2 {
    background-color: aquamarine;
    padding: 15px;
    display: flex;
}

#player1-cards {
    display: flex;
    background-color: azure;
    padding: 10px;
}
#player2-cards {
    display: flex;
    background-color: azure;
    padding: 10px;
}

.players-cards-zone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: blueviolet;
    padding: 10px;
}

/* Diseño general del juego */
.card-board-weapon-p-1 {
    grid-row: 1;
    grid-column: 1;
}
.card-board-weapon-p-2 {
    grid-row: 1;
    grid-column: 2;
}
.card-board-weapon-p-3 {
    grid-row: 1;
    grid-column: 3;
}
.card-board-weapon-p-4 {
    grid-row: 2;
    grid-column: 1;
}
.card-board-car {
    grid-row: 2;
    grid-column: 2;
    background-color: red !important;
}
.card-board-weapon-p-5 {
    grid-row: 2;
    grid-column: 3;
}
.card-board-weapon-p-6 {
    grid-row: 3;
    grid-column: 1;
}
.card-board-weapon-p-7 {
    grid-row: 3;
    grid-column: 2;
}
.card-board-weapon-p-8 {
    grid-row: 3;
    grid-column: 3;
}

.card-board-player1 {
    background-color: yellowgreen;
    /*padding: var(--tamaño-cartas-y) var(--tamaño-cartas-x);*/
    margin: 3px;
}
.card-board-player2 {
    background-color: rgb(112, 150, 37);
    /*padding: 10px;*/
    margin: 3px;
}

.card-board {
    padding: var(--tamaño-cartas-y) var(--tamaño-cartas-x);
}

#card-effect-universal {
    background-color: blue;
}
#board-players {
    display: flex;
    align-items: center;
}

.card-board-effect {
    border: 3px dashed black;
}
.card-board-effect-buff {
    background-color: #1a3d0f !important;
}
/*
.card-board-card {
    background-color: red !important;
}*/