:root {
    --fondo-jugador1: #242424;
    --fondo-jugador2: #5c5c5c;
    
    --tablero-juego: #0e0e0e;

    --casilla-carta: #3c3c3c;
    --casilla-carta-carro: #103447;

    --casilla-carta-buff: #1a3d0f;
    --casilla-carta-nerf: #520101;
    --casilla-carta-universal: #8174d9;

    --tamaño-cartas-x: 60px;
    --tamaño-cartas-y: 90px;

    --tamaño-cartas-deck: 100px;

    --fondo-carta-seleccionada: #323232;
    --texto-carta-seleccionada: #c6c6c6;

    --fondo-juego-estadisticas: #373434;
    --borde-juego-estadisticas: #bdbdbd;

    --fondo-deck: #2a2a2a;
    --fondo-cartas-en-deck: #696f77;
    --color-baras-deck: #919191;
    --grosor-bara-deck: 5px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#player1 {
    background-color: #000000;
    /*padding: 15px;*/
    display: flex;
}

#player2 {
    background-color: #000000;
    /*padding: 15px;*/
    display: flex;
}

#player1-cards {
    display: flex;
    background-color: var(--fondo-jugador1);
    /*padding: 10px;*/
}
#player2-cards {
    display: flex;
    background-color: var(--fondo-jugador2);
    /*padding: 10px;*/
}

.players-cards-zone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: none;
    padding: 10px;
}

/* Diseño general del juego */
.card-board-weapon-p-1 {
    grid-row: 1;
    grid-column: 1;
}
.card-board-weapon-p-2 {
    grid-row: 1;
    grid-column: 2;
}
.card-board-weapon-p-3 {
    grid-row: 1;
    grid-column: 3;
}
.card-board-weapon-p-4 {
    grid-row: 2;
    grid-column: 1;
}
.card-board-car {
    grid-row: 2;
    grid-column: 2;
    background-color: var(--casilla-carta-carro) !important;
}
.card-board-car:hover {
    background-color: #1f6b93 !important;
}
.card-board-car:active {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
    background-color: #8da0ab !important;
}
.card-board-weapon-p-5 {
    grid-row: 2;
    grid-column: 3;
}
.card-board-weapon-p-6 {
    grid-row: 3;
    grid-column: 1;
}
.card-board-weapon-p-7 {
    grid-row: 3;
    grid-column: 2;
}
.card-board-weapon-p-8 {
    grid-row: 3;
    grid-column: 3;
}

.card-board {
    background-color: var(--casilla-carta);
    /*padding: var(--tamaño-cartas-y) var(--tamaño-cartas-x);*/
    margin: 3px;
}
/*
.card-board-player2 {
    background-color: #3c3c3c;*/
    /*padding: 10px;*//*
    margin: 3px;
}*/

.card-board {
    /*padding: var(--tamaño-cartas-y) var(--tamaño-cartas-x);*/
    width: var(--tamaño-cartas-x);
    height: var(--tamaño-cartas-y);
}

#card-effect-universal {
    border: 3px dashed #ffffff;
    background-color: var(--casilla-carta-universal);
}
#board-players {
    display: flex;
    align-items: center;
}

.card-board-effect {
    border: 3px dashed black;
}
.card-board-effect-buff {
    background-color: var(--casilla-carta-buff) !important;
}
.card-board-effect-nerf {
    background-color: var(--casilla-carta-nerf) !important;
}

/*
.card-board-card {
    background-color: red !important;
}*/

#game {
    min-height: 80vh;
    display: flex;
    /*flex-direction: column;*/
    border-bottom: solid var(--color-baras-deck) var(--grosor-bara-deck);
}

#card-selected-information {
    background-color: var(--fondo-carta-seleccionada);
    padding: 15px;
    width: 60%;
}
#card-selected-main-information {
    text-align: center;
    padding-bottom: 10px;
}
#card-selected-image {
    width: 220px; 
    height: auto;
}

.card-selected-information {
    color: var(--texto-carta-seleccionada);
    padding-bottom: 10px;
    font-family: "Lexend", sans-serif;
    font-size: 90%;
}
#card-selected-description {
    font-size: 75%;
}
#card-selected-bar {
    margin-bottom: 10px;
}
.player-effects {
    padding: 10px;
}
#card-selected-player {
    text-align: center;
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#board-players {
    background-color: var(--tablero-juego);
}

#game-stats {
    width: 40%;
    border: 5px solid var(--borde-juego-estadisticas);
    padding: 5px;
    background-color: var(--fondo-juego-estadisticas);
    color: var(--borde-juego-estadisticas);
}

#game-information {
    display: flex;
}
.game-stat-div {
    margin-bottom: 5px;
}
.game-stat-subtitle-text {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-family: "BBH Hegarty", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 16px !important;
}
.game-stat-text {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80%;
}
#game-stats > hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#the-battle-cars {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#deck {
    flex: 1;
    height: 100%;
    display: flex;
    background-color: var(--fondo-deck);
}

#change-deck-icon-div {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-right: solid var(--color-baras-deck) var(--grosor-bara-deck);
}
#deck-icon-current {
    height: var(--tamaño-cartas-deck);
    width: auto;
    margin: 0;
}
#deck-cards {
    background-color: var(--fondo-cartas-en-deck);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: auto;
}
.deck-card, img {
    height: var(--tamaño-cartas-deck);
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
}


@media (max-width: 1200px) {
    #card-selected-information {
        width: 50%;
        padding: 10px;
    }
    #card-selected-image {
        width: 150px; 
        height: auto;
        
    }
    #game-stats {
        width: 50%;
    }
    .card-board {
        width: 50px;
        height: 75px;
    }
}

.card-selected-list {
    line-height : 10px;
}

.card-selected-lists {
    list-style-position: inside;
    font-size: 13px;
}

img.image-board {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}


#deselect-div {
    display: flex;
    justify-content: center;
}
#deselect-button {
    padding: 2px;
    border: 2px solid var(--borde-juego-estadisticas);
    background-color: var(--fondo-carta-seleccionada);
    color: var(--borde-juego-estadisticas);
}
#deselect-button:hover {
    background-color: #000000;
}
#deselect-button:active {
    background-color: var(--borde-juego-estadisticas);
    border: 2px solid #000000;
    color: var(--fondo-juego-estadisticas);
}
.car-square-valid {
    border: 3px dotted #c7cdd0;
}