:root {
    --tamaño-cartas-x: 60px;
    --tamaño-cartas-y: 90px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#player1 {
    background-color: #000000;
    /*padding: 15px;*/
    display: flex;
}

#player2 {
    background-color: #000000;
    /*padding: 15px;*/
    display: flex;
}

#player1-cards {
    display: flex;
    background-color: #242424;
    /*padding: 10px;*/
}
#player2-cards {
    display: flex;
    background-color: #5c5c5c;
    /*padding: 10px;*/
}

.players-cards-zone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: none;
    padding: 10px;
}

/* Diseño general del juego */
.card-board-weapon-p-1 {
    grid-row: 1;
    grid-column: 1;
}
.card-board-weapon-p-2 {
    grid-row: 1;
    grid-column: 2;
}
.card-board-weapon-p-3 {
    grid-row: 1;
    grid-column: 3;
}
.card-board-weapon-p-4 {
    grid-row: 2;
    grid-column: 1;
}
.card-board-car {
    grid-row: 2;
    grid-column: 2;
    background-color: #7d1c1c !important;
}
.card-board-weapon-p-5 {
    grid-row: 2;
    grid-column: 3;
}
.card-board-weapon-p-6 {
    grid-row: 3;
    grid-column: 1;
}
.card-board-weapon-p-7 {
    grid-row: 3;
    grid-column: 2;
}
.card-board-weapon-p-8 {
    grid-row: 3;
    grid-column: 3;
}

.card-board {
    background-color: #3c3c3c;
    /*padding: var(--tamaño-cartas-y) var(--tamaño-cartas-x);*/
    margin: 3px;
}
/*
.card-board-player2 {
    background-color: #3c3c3c;*/
    /*padding: 10px;*//*
    margin: 3px;
}*/

.card-board {
    /*padding: var(--tamaño-cartas-y) var(--tamaño-cartas-x);*/
    width: var(--tamaño-cartas-x);
    height: var(--tamaño-cartas-y);
}

#card-effect-universal {
    border: 3px solid black;
    background-color: #8174d9;
}
#board-players {
    display: flex;
    align-items: center;
}

.card-board-effect {
    border: 3px dashed black;
}
.card-board-effect-buff {
    background-color: #1a3d0f !important;
}
.card-board-effect-nerf {
    background-color: #520101 !important;
}

/*
.card-board-card {
    background-color: red !important;
}*/

#game {
    display: flex;
}

#card-selected-information {
    background-color: #323232;
    padding: 15px;
    width: 100%;
}
#card-selected-main-information {
    text-align: center;
    padding-bottom: 10px;
}
#card-selected-image {
    width: 220px; 
    height: auto;
}

.card-selected-information {
    color: #c6c6c6;
    padding-bottom: 10px;
}
#card-selected-bar {
    margin-bottom: 10px;
}
.player-effects {
    padding: 10px;
}
#card-selected-player {
    text-align: center;
}
#board-players {
    background-color: #0e0e0e;
}

#game-stats {
    width: 500px;
}